{
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node"
      ]
    },
    "client": {
      "presets": [
        "env"
      ],
      "plugins": [
        "dynamic-import-webpack"
      ]
    }
  }
}

